* {
    margin:0px;
}
body {
    background-image:url(assets/NEUMORPHIC_CIRCLES_BACKGROUND.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.topBar {
    
}
.btn {
    color:white;
    background-color: gray;
}
.top-buttons {
    margin-top: 20px;
}