* {
    margin:0px;
}
body {
    background-image:url(assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.btn {
    color:white;
    background-color: gray;
}
.btn:hover {
    background-color: gray;
}
.top-buttons {
    top: 20px;
}
.video {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.homeText {
    color:white;
    font-size: 25px;
}
.aboutBackground {
    background-color:rgba(0, 0, 0, 0.483);
    border-radius: 10px;
}
#mainImage {
    border-radius:50%;
    height:200px;
    width:200px;
    border-style: double;
}
#header {
    color:white;
}
#pfp {
    position:absolute;
    height:50px;
    width:50px;
    border-radius: 50%;
    top:10px;
}